<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480931982861-7egt32cug8u2qenb28ofdhmgpopdui4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480931982861-7egt32cug8u2qenb28ofdhmgpopdui4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBa-Gkx7_6pMYHD68WsX_rJ18lC2juIKAc</string>
	<key>GCM_SENDER_ID</key>
	<string>480931982861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamhungary.cubhub</string>
	<key>PROJECT_ID</key>
	<string>cubhub-9f332</string>
	<key>STORAGE_BUCKET</key>
	<string>cubhub-9f332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480931982861:ios:5236e09d064b6519692f44</string>
</dict>
</plist>