teamhungary/teamhungary.xcodeproj/project.xcworkspace/xcuserdata/seung.xcuserdatad/UserInterfaceState.xcuserstate
teamhungary/teamhungary.xcodeproj/xcuserdata/seung.xcuserdatad/xcschemes/xcschememanagement.plist
teamhungary/teamhungary.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
teamhungary/teamhungary.xcworkspace/xcuserdata/seung.xcuserdatad/UserInterfaceState.xcuserstate
