<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>721172424038-n4fbnjrf7vi5l260vbkduf6dbnk1s8bf.apps.googleusercontent.com</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GIDClientID</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>1084833016943-f82dcdsfkmcl0jf8id3t2ifpbcpn187l.apps.googleusercontent.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GIDServerClientID</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>CFBundleURLSchemes</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1084833016943-f82dcdsfkmcl0jf8id3t2ifpbcpn187l</string>
			</array>
		</dict>
	</array>
	
</dict>
</plist>
